<h1>Hello <%= @user.full_name %>,</h1>

<p>
  A password reset has recently been requested for your user account on <strong><%= TbCore.config.site_name %></strong>.
  Click the link below to set your new password.
  <%= perishable_token_link_expiration_time_text(@user) %>
</p>

<p><%= link_to @url, @url %></p>

<p>For reference, the username tied to your account is <strong><%= @user.login %></strong>. If you remember your password you can log in here: <%= link_to login_url, login_url %></p>

<p>
  Thanks,<br/>
  <strong><%= TbCore.config.site_name %></strong>
</p>
