<h1>Hello <%= @user.full_name %>,</h1>

<p><%= t('tb_core_mailer.user_credentials.greeting', :site_name => TbCore.config.site_name) %></p>

<ul>
  <li><strong>Username:</strong> <%= @user.login %></li>
  <li><strong>Password:</strong> <%= @password %></li>
</ul>

<p><%= link_to 'Click here', login_url %> to log in.</p>

<% if @user.requires_password_change? %>
  <p><strong>Note:</strong> You will be asked to create a new password after you log in.</p>
<% end %>

<p>
  Thanks,<br/>
  <strong><%= TbCore.config.site_name %></strong>
</p>
