<h1><%= module_name_formatted.pluralize.camelize %></h1>

<table class="table">
  <thead>
    <tr><%attributes.each do |attribute|%>
        <%-attribute_args = attribute.split(":")-%>
        <th><%=attribute_args[0].humanize.titlecase%></th> <%end%>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%% cache(cache_key_for_spud_collection(@<%=module_name_formatted%>)) do %>
      <%% @<%=module_name_formatted%>.each do |<%=module_name_formatted.singularize%>| %>
        <%% cache(<%=module_name_formatted.singularize%>) do %>
          <tr>
            <%-attributes.each do |attribute|-%>
            <%-attribute_args = attribute.split(":")-%>
            <td><%%= <%=module_name_formatted.singularize%>.<%=attribute_args[0]%> %></td>
            <%-end-%>
            <td><%%= link_to 'Details', <%=module_name_formatted.singularize%>_path(<%=module_name_formatted.singularize%>) %></td>
          </tr>
        <%% end %>
      <%% end %>
    <%% end %>
  </tbody>
</table>
<%%= will_paginate @<%=module_name_formatted%> %>

<script>
  document.addEventListener('DOMContentLoaded', app.<%= module_name_formatted %>.index);
</script>
