h1 <%= module_name_formatted.pluralize.camelize %>

table.table
  thead
    tr
      <%- attributes.each do |attribute| -%>
      <%- attribute_args = attribute.split(":") -%>
      th <%= attribute_args.first.humanize.titlecase %>
      <%- end %>
      th &nbsp;
  tbody
    - @<%= module_name_formatted %>.each do |<%= module_name_formatted.singularize %>|
      tr
        <%- attributes.each do |attribute| -%>
        <%- attribute_args = attribute.split(":") -%>
        td = <%= module_name_formatted.singularize %>.<%= attribute_args.first %>
        <%- end %>
        td = link_to 'Details', <%= module_name_formatted.singularize %>_path(<%= module_name_formatted.singularize %>)
= will_paginate @<%= module_name_formatted %>

javascript:
  document.addEventListener('DOMContentLoaded', app.<%= module_name_formatted %>.index);
