h1 <%= module_name_formatted.singularize.camelize %>

dl.dl-horizontal
  <%- attribute_names.each do |attribute| -%>
  dt <%= attribute.humanize.titlecase %>:
  dd = @<%= module_name_formatted.singularize %>.<%= attribute %>
  <%- end -%>

p = link_to 'Back', <%=module_name_formatted.pluralize%>_path

javascript:
  document.addEventListener('DOMContentLoaded', app.<%= module_name_formatted %>.show);
