<h1><%= module_name_formatted.singularize.camelize %></h1>

<dl class="dl-horizontal">
  <%- attribute_names.each do |attribute| -%>
  <dt><%= attribute.humanize.titlecase %>:</dt>
  <dd><%%= @<%= module_name_formatted.singularize %>.<%= attribute %> %></dd>
  <%- end -%>
</dl>

<p><%%= link_to 'Back', <%=module_name_formatted.pluralize%>_path %></p>

<script>
  document.addEventListener('DOMContentLoaded', app.<%= module_name_formatted %>.show);
</script>