<% @page_title = 'Password Reset' %>

<h1>Password Reset</h1>

<%= form_tag password_resets_path, :class => 'password-reset-form' do  %>
  <div class="form-group">
    <%= label_tag :email, 'Email', :class => 'form-label' %>
    <%= text_field_tag :email, params[:email], :placeholder => 'email', :autofocus => 'autofocus', :class => 'form-control' %>
  </div>
  <div class="form-group form-row-actions">
    <%= submit_tag 'Submit', :class => 'btn btn-primary' %> or <%= link_to 'Cancel', login_path %>
  </div>
<% end %>
