<% @page_title = 'Password Reset' %>

<div class="login-form">
	<h1>Password Reset</h1>
	<%= form_for @user, :url => password_reset_path(:id => @user.perishable_token), :html => {:class => 'password-reset-form'} do |f| %>
    <%= tb_form_errors(@user) %>
		<% if params[:return_to] %>
    	<%= hidden_field_tag :return_to, params[:return_to] %>
  	<% end %>
	  <div class="form-group">
	  	<%= f.label :password, :class => 'form-label' %>
	  	<%= f.password_field :password, :placeholder => 'password', :autofocus => 'autofocus', :class => 'form-control' %>
	  </div>
	  <div class="form-group">
	  	<%= f.label :password_confirmation, 'Confirm password', :class=>'form-label' %>
	  	<%= f.password_field :password_confirmation, 'placeholder' => 'confirm password', :class=>'form-control' %>
	  </div>
	  <div class="form-group form-group-actions">
	  	<%= f.submit "Reset Password", :class => 'btn btn-primary' %>
	  </div>
	<% end %>
</div>
