<div class="sortable">
  <% @admin_applications.each do |admin_application| %>
    <div class="admin-application" id="application_name_<%= admin_application[:key] %>">
      <%= link_to url_for_admin_dashboard_application(admin_application[:url]) do %>
          <%= image_tag(admin_application[:thumbnail]) %>
          <span class="dash-icon-badge" ></span>
        <span class="application-name"><%= admin_application[:name] %></span>
      <% end %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', tb.dashboard.init);
</script>
