<%
@page_thumbnail = "admin/users_thumb.png"
@page_name = "First Time Setup"
%>

<% content_for :detail do %>
	<% tb_form_for @spud_user, :url => admin_setup_path do |f| %>
		<%= tb_form_errors f.object %>

		<% if !TbCore.config.use_email_as_login %>
			<%= f.tb_text_field :login %>
		<% end %>
		
		<%= f.tb_text_field :email %>
		<%= f.tb_text_field :first_name %>
		<%= f.tb_text_field :last_name %>

		<div class="form-group">
			<%= f.label :password, "Password", :class => "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.password_field :password, :class => 'form-control' %>
				<p class="help-block">Password must be at least 8 characters</p>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :password_confirmation, "Confirm", :class => "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.password_field :password_confirmation, :class => 'form-control' %>
				<p class="help-block">Retype your password here.</p>
			</div>
		</div>

		<div class="form-group">
	  	<div class="col-sm-offset-2 col-sm-10">
				<%= submit_tag "Create Admin Account", :class => "btn btn-primary"%>
			</div>
		</div>

	<% end %>
<% end %>
