<% if flash[:notice] %>
    <div class="alert alert-success">
      <a class="close" data-dismiss="alert">×</a>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:warning] %>
    <div class="alert alert-warning">
      <a class="close" data-dismiss="alert">×</a>
      <%= flash[:warning] %>
    </div>
  <% end %>
  <% if flash[:error]%>
  <div class="alert alert-error">
      <a class="close" data-dismiss="alert">×</a>
      <%= flash[:error] %>
  </div>
  <% end %>
  