<%= form_tag search_path, :method => :get, :class => 'form-inline admin-search-form' do %>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
      <%= search_field_tag :search, params[:search], :placeholder => 'Search', :class => 'form-control' %>
      <% if params[:search] %>
        <div class="input-group-addon">
          <%= link_to raw('<span class="glyphicon glyphicon-remove"></span>'), search_path %>
        </div>
      <% end %>
      <% if params[:tab] %>
        <%= hidden_field_tag :tab, params[:tab] %>
      <% end %>
    </div>
  </div>
<% end %>
