<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= TbCore.config.site_name %> Admin</title>
  <%= tinymce_assets unless ENV['TB_SKIP_TINYMCE'] %>
  <%= stylesheet_link_tag *TbCore.config.admin_stylesheets %>
  <%= javascript_include_tag *TbCore.config.admin_javascripts %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width"/>
  <%= yield :head %>
</head>
<body>
<% if TbCore.production_alert_domain %>
  <div class="production-alert-header">
    <p><strong>Notice:</strong> This is a staging version of your website. To update your live website, please <%= link_to 'log in to production.', "http://#{TbCore.production_alert_domain}/admin" %></p>
  </div>
<% end %>
<div id="header">
  <div class="container">
  	<%= link_to '/' do %>
      <h1><%= TbCore.config.site_name %></h1>
    <% end %>
    <% if current_user %>
    	<div class="pull-right">
    		Hello <%= current_user.full_name %> |
        <%= link_to "Settings", admin_settings_path %> |
        <%= link_to "Logout", logout_path(:return_to => admin_login_path) %>
    	</div>
    <% end %>
  </div>
</div>

<div class="container">

  <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>

  <%= render :partial => '/layouts/admin/flashes' %>

  <%= content_for?(:content) ? yield(:content) : yield %>
</div>

<div class="modal fade" id="modal_window">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
        <p>...</p>
      </div>
      <div class="modal-footer modal-footer-default">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary form-submit">Save changes</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>
