<%= content_for :content do %>
  <div class="detail-wrapper">
    <div class="data-controls">
      <%= yield :data_controls %>
    </div>
    <h2 class="detail-title">
      <% if @page_thumbnail %>
        <%= image_tag(@page_thumbnail, :class => 'app-thumbnail') %>
      <% end %>
      <%= @page_name %>
    </h2>
    <div class="details">
      <%= content_for?(:detail) ? yield(:detail) : yield %>
    </div>
  </div>
<% end %>
<%= render :template => 'layouts/admin/application' %>
