<% @page_name = "#{@error.code}: #{@error.title}!" %>

<%= content_for :detail do %>
  <p><%= @error.message %></p>
  <% if @error.code == 403 %>
    <p>Your user might not have admin rights, or you might be trying to access a module that you have not been granted permission to.</p>
  <% end %>
  <p>Requested URL: <%= @error.request_url %></p>
<% end %>

<%= render :template => 'layouts/admin/detail' %>
