<% @login_title = 'Forgot Password' %>
<%= form_tag admin_password_resets_path do  %>
  <div class="form-group">
	  <%= label_tag :email %>
	  <%= text_field_tag :email, params[:email], :class => 'form-control', :placeholder => 'email', :autofocus => 'autofocus' %>
  </div>
  <div class="login-group">
  	<%= submit_tag "Send Reset Instructions", :class => 'btn btn-primary' %> or <%= link_to 'Cancel', admin_login_path %>
  </div>
<% end %>
