<% @login_title = 'Password Reset' %>

<%= form_for @user, url: admin_password_reset_path(:id => @user.perishable_token) do |f| %>
  <%= tb_form_errors(f.object) %>
  <div class="form-group">
  	<%= f.label :password, :class => 'form-label' %>
  	<%= f.password_field :password, :placeholder => 'password', :autofocus => 'autofocus', :class => 'form-control' %>
  </div>
  <div class="form-group">
  	<%= f.label :password_confirmation, :class => 'form-label' %>
  	<%= f.password_field :password_confirmation, :placeholder => 'confirm password', :class => 'form-control' %>
  </div>
  <div class="form-group">
  	<%= f.submit "Reset Password", :class => 'btn btn-primary' %>
  </div>
<% end %>
