= tb_form_for [:admin, @<%=module_name_formatted.singularize%>],
  remote: true,
  data: { errors: :inline, success: admin_<%= module_name_formatted %>_path } do |f|

  = tb_form_errors(f.object, :base)
  <%- attributes.collect{ |att| att.split(':') }.each do |arg_0, arg_1| %>
  <%= slim_field_for_attribute(arg_1, arg_0) %>
  <%- end %>
  = f.tb_save_buttons('<%= module_name_formatted.singularize.humanize.titlecase %>', admin_<%= module_name_formatted %>_path)

javascript:
  document.addEventListener('DOMContentLoaded', app.admin.<%= module_name_formatted %>.edit);
