= content_for :data_controls do
  = render partial: '/layouts/admin/search',
    locals: { search_path: admin_<%= module_name_formatted %>_path }
  = link_to 'New <%=module_name_formatted.singularize.humanize.titlecase%>',
    new_admin_<%=module_name_formatted.singularize%>_path,
    class: 'btn btn-primary'

= content_for :detail do
  .table-responsive
    table.table.table-striped.table-hover
      thead
        tr
          <%- attribute_names.each do |attribute| -%>
          th <%= attribute.humanize.titlecase %>
          <%- end -%>
          th &nbsp;
      tbody
        - @<%=module_name_formatted%>.each do |<%=module_name_formatted.singularize%>|
          tr
            <%-attribute_names.each do |attribute|-%>
            td = <%=module_name_formatted.singularize%>.<%=attribute%>
            <%-end-%>
            td.table-actions
              = link_to 'Details',
                admin_<%=module_name_formatted.singularize%>_path(<%=module_name_formatted.singularize%>),
                class: 'btn btn-default btn-sm'
              = link_to 'Edit',
                edit_admin_<%=module_name_formatted.singularize%>_path(<%=module_name_formatted.singularize%>),
                class: 'btn btn-default btn-sm'
              = link_to 'Delete',
                admin_<%=module_name_formatted.singularize%>_path(<%=module_name_formatted.singularize%>),
                class: 'btn btn-danger btn-sm',
                method: :delete,
                data: { confirm: 'Are you sure?' }

  = will_paginate @<%=module_name_formatted%>, renderer: BootstrapPagination::Rails

  javascript:
    document.addEventListener('DOMContentLoaded', app.admin.<%= module_name_formatted %>.index);
