= content_for :data_controls do
  = link_to 'Edit',
    edit_admin_<%=module_name_formatted.singularize%>_path(@<%=module_name_formatted.singularize%>),
    class: 'btn btn-default'
  = link_to 'Back',
    admin_<%= module_name_formatted %>_path,
    class: 'btn btn-default'

dl.dl-horizontal
  <%- attribute_names.each do |attribute| -%>
  dt <%= attribute.humanize.titlecase %>:
  dd = @<%= module_name_formatted.singularize %>.<%= attribute %>
  <%- end -%>

javascript:
  document.addEventListener('DOMContentLoaded', app.admin.<%= module_name_formatted %>.show);
