<% ActiveSupport::Deprecation.warn "Layout `spud/admin/detail` is deprecated and may be removed from future releases, use `admin/detail` instead.", caller %>
<%= render :template => 'layouts/admin/detail' %>
