<%= form_for @role, :url => path, :html => {:class => 'form-horizontal'} do |f| %>
  
  <div class="form-group">
    <%= f.label :name, :required => true, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, :title => "", :class => 'form-control'%>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :permissions, 'Permissions', :required => true, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <% SpudPermission.sorted_by_tag.each do |permission| %>
        <div class="checkbox">
          <label>
            <%= check_box_tag 'spud_role[permission_tags][]', permission.tag, @role.permissions.include?(permission) %>
            <%= permission.name %>
          </label>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Save Role", :class=>"btn btn-primary", "data-loading-text" => "Saving..." %> 
      <%= link_to "Cancel", admin_roles_path, :class => "btn btn-default" %>
    </div>
  </div>

<% end %>
