<% @page_name = 'Roles' %>

<%= content_for :data_controls do %>
  <%= link_to 'New Role', new_admin_role_path, :class => 'btn btn-primary' %>
<% end %>

<% content_for :detail do %>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th># Users</th>
          <th>Permissions</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @roles.each do |role| %>
          <tr>
            <td><%= role.name %></td>
            <td><%= role.users.count %></td>
            <td><%= role.permissions.collect(&:name).join(', ') %></td>
            <td align="right">
              <%= link_to 'Edit', edit_admin_role_path(role), :class => 'btn btn-sm btn-default' %>
              <%= link_to 'Delete', admin_role_path(role), :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-sm btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
