//= require_self
//= require_directory

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background:#eee;
  background-color:#eee;
  margin: 0 0;
}

// Header
#header {
  padding: 5px 15px;
  background: #333;
  color: #fff;
  font-size: 14px;
  h1{
    font: normal 18px/18px sans-serif;
    color: #fff;
    display: inline;
  }
  a{
    color: white;
  }
}

// Admin Apps
.admin-application {
  width:150px;
  background:#fff;
  float:left;
  text-align:center;
  border:1px solid transparent;
  border-radius:10px;
  margin: 0 20px 20px 0;
  position: relative;
  user-select: none;
  &:hover{
    background:#fff;
    border:1px solid #ccc;
  }
  a, a:visited{
    display:block;
    color:#000;
    padding:10px 10px;
    text-decoration:none;
  }
  img {
    width: 125px;
    border: none;
    height: 125px;
  }
  .dash-icon-badge{
    display: none;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 36px;
    height: 36px;
    background: #e55137;
    border-radius: 18px;
    color: white;
    line-height: 36px;
    font-size: 15px;
  }
  .application-name{
    white-space: nowrap;
  }
}

// Detail
.nav-tabs{
  margin-bottom: 20px;
}
.admin-search-form{
  display: inline;
}
.detail-wrapper {
  background:#fff;
  min-height:300px;
  border-radius:10px;
  margin: 0 auto 20px;
  padding: 15px;
  .detail-title{
    margin: 0 0 15px;
  }
  .app-thumbnail{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0;
  }
  .data-controls{
    float: right;
    .btn:not(:first-child) {
      margin-left: 0.5rem;
    }
  }
  .pagination{
    margin-bottom: 0;
  }
  .details{

  }
}

// Forms
.form-horizontal .col-sm-10 .help-block{
  margin: 5px 0;
  &:last-child{
    margin-bottom: 0;
  }
}
.form-horizontal .form-sub-title{
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding: 0 0 4px 0;
}

// Old Errors
div.field_with_errors {
  display: inline;
}
div.field_with_errors label, .form-field-error, .form-errors {
  color: crimson;
}

// New (Remote) Errors
p.form-error{
  color: crimson;
  font-size: 12px;
  font-style: italic;
  line-height: normal;
  margin: 4px 0 0;
}
p.form-error-base{
  margin: 0 0 10px;
}
@media (min-width: $screen-sm){
  .form-horizontal .form-error-base{
    margin-left: 17.3%;
  }
}
.date-select{
  &.form-control{
    display: inline-block;
  }
  &.year{
    width: 20%
  }
  &.month{
    width: 35%
  }
  &.day{
    width: 20%
  }
}
.datetime-select{
  &.form-control{
    display: inline-block;
  }
  &.year{
    width: 20%;
  }
  &.month{
    width: 22.3%;
  }
  &.day, &.hour, &.minute{
    width: 15%;
  }
}

// Tables
td.no-wrap{
  white-space: nowrap;
}
td.table-actions{
  white-space: nowrap;
  text-align: right;
  .btn:not(:first-child) {
    margin-left: 0.5rem;
  }
}
.table .nesting-spacer{
  display: inline-block;
  width: 5%;
}
