.login-container{
  margin-top: 75px;
  padding: 0px;
  color:#000;
  background: #fff;
  border-radius:10px;
  box-shadow: 2px 2px 10px #777;
  overflow-x: hidden;
  overflow-y: hidden;

  h1{
    font-size: 28px;
    margin: 0 0 20px;
    padding: 10px 20px;
    background-color:#333;
    color: #fff;
  }
  .alert{
    margin: 0 10px;
  }
  form {
    margin: 20px;
  }
}
