// User Picker
.tb-user-select{
  width: calc(100% - 184px);
  display: inline-block;
}
.tb-user-select-btn{
  width: 90px;
  margin-left: 2px;
}

// Send Email
.user-send-email-group{
  display: none;
}
