<%= tb_form_errors f.object %>

<h4>User Details</h4>

<% if !TbCore.config.use_email_as_login %>
	<div class="form-group">
		<%= f.label :login, :required => true, :class => "col-sm-2 control-label" %>
		<div class="col-sm-10">
			<%= f.text_field :login, :size => 25, :autocomplete => 'username', :class => 'form-control' %>
		</div>
	</div>
<% end %>
<div class="form-group">
	<%= f.label :email, :class=>"col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.text_field :email, :title => "", :class=>'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label :first_name, :class => "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.text_field :first_name, :title => "", :class=>'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label :last_name, :class => "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.text_field :last_name, :title => "", :class=>'form-control' %>
	</div>
</div>
<div class="form-group">
  <%= f.label :time_zone, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {:default => Rails.application.config.time_zone}, {:class=>'form-control'} %>
  </div>
</div>

<h4>Credentials</h4>

<div class="form-group">
	<%= f.label :current_password, :class => "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= password_field :current_password, nil, class:"form-control"  %>
		<p class="help-block">Enter current password to change it.</p>
	</div>  
</div>
<div class="form-group">
	<%= f.label "New Password", :class => "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.password_field :password, :title => "", :class => 'form-control', :autocomplete => 'new-password' %>
		<p class="help-block">Password must be at least 8 characters</p>
	</div>  
</div>
<div class="form-group">
	<%= f.label :password_confirmation, "Confirm", :class => "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.password_field :password_confirmation, :title => "", :class => 'form-control', :autocomplete => 'new-password' %>
		<p class="help-block">Retype your password here.</p>
	</div>
</div>
