<%
@page_thumbnail = "admin/users_thumb.png"
@page_name = "Settings" 
%>

<p>Fields marked with * are required and must be filled out.</p>

<%= form_for @current_user, :url => admin_settings_path, :method => :put, :html => {:class => "form-horizontal"} do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <div class="form-actions">
  	<%= f.submit "Save Settings", :class=>"btn btn-primary"%> or 
    <%=link_to "cancel", (@current_user.admin_rights? ? admin_root_path : root_path), :class => "btn btn-default" %>
  </div>
<% end %>
