<%= content_for :data_controls do %>
  <%= render :partial => '/layouts/admin/search', :locals => {:search_path => admin_users_path} %>
  <%= link_to 'Roles', admin_roles_path, :class => 'btn btn-default admin-role-btn' %>
  <%= link_to "New User", new_admin_user_path, :class => "btn btn-primary admin-user-add-btn", :title => "New User" %>
  <%= link_to "Export", export_admin_users_path, :class => "btn btn-primary admin-user-add-btn", :title => "New User" %>
<% end %>

<%= content_for :detail do %>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <%= sortable_table_header :admin_users_path, model: SpudUser do |t| %>
        <%= t.sortable :name %>
        <%= t.sortable :email %>
        <%= t.sortable :current_login_at %>
        <th></th>
      <% end %>
      <tbody>
        <% @spud_users.each do |spud_user| %>
          <tr>
            <td><%= spud_user.full_name %></td>
            <td><%= mail_to spud_user.email %></td>
            <td><%= timestamp spud_user.current_login_at %></td>
            <td class="table-actions">
              <%= link_to 'Details', admin_user_path(spud_user), :class => 'btn btn-default btn-sm' %>
              <%= link_to 'Edit', edit_admin_user_path(spud_user), :class => 'btn btn-default btn-sm' %>
              <%= link_to 'Delete', admin_user_path(spud_user), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this user?'}, :class => 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= will_paginate @spud_users, :renderer => BootstrapPagination::Rails %>

  <script>
    document.addEventListener('DOMContentLoaded', tb.users.index);
  </script>
<% end %>
