<%= content_for :data_controls do %>
  <%= link_to 'Edit', edit_admin_user_path(@user), :class => 'btn btn-primary admin-user-edit-btn', :title => "Edit" %>
<% end %>

<dl class="dl-horizontal">
  <% if !TbCore.config.use_email_as_login %>
    <dt>Login</dt>
    <dd><%= @user.login %></dd>
  <% end %>
  <dt>Email</dt>
  <dd><%= mail_to @user.email %></dd>
  <dt>Last Login</dt>
  <dd><%= timestamp @user.current_login_at %></dd>
  <dt>Created At</dt>
  <dd><%= timestamp @user.created_at %></dd>
  <dt>Role:</dt>
  <dd><%= @user.role.blank? ? 'None' : @user.role.name %></dd>
  <dt>Super Admin?<dt>
  <dd><%= @user.super_admin? ? 'Yes' : 'No' %></dd>
  <%= render 'show_additions' %>
</dl>
