<% @user_session ||= SpudUserSession.new %>
<% return_to = '/' if local_assigns[:return_to].nil? %>

<%= form_for @user_session, :url => login_path, :html => {:class => 'login-form'}, :remote => true, :data => {:success => back_or_default(return_to), :errors => :inline} do |f| %>
  <%= tb_form_errors(@user_session) %>
  <%= hidden_field_tag :return_to, return_to %>
  <div class="form-group">
    <% if TbCore.config.use_email_as_login %>
      <%= f.label :email %>
      <%= f.text_field :email, :placeholder => 'Email', :autofocus => 'autofocus', :autocomplete => 'username', :class => 'form-control' %>
    <% else %>
      <%= f.label :login %>
      <%= f.text_field :login, :placeholder => 'Username', :autofocus => 'autofocus', :autocomplete => 'username', :class => 'form-control' %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, :placeholder => 'Password', :autocomplete => 'current-password', :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "Login", :class => 'btn btn-primary', :data => {:disable_with => 'Logging in...', :enable_with => 'Done!'} %>
    <span>or</span> <%= link_to "Forgot Password?", password_resets_path %>
  </div>
<% end %>
