<% @page_title = 'Login' %>

<h1>Set New Password</h1>

<p>You must set a new password before you may continue.</p>

<%= form_for current_user, :url => login_change_password_path, :method => :post, :remote => true, :data => {:errors => :inline, :success => back_or_default('/')} do |f| %>
  <%= hidden_field_tag :return_to, back_or_default('/') %>
  <%= tb_form_errors(current_user) %>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, :placeholder => 'Password', :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation', :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Set Password', :class => 'btn btn-primary', :data => {:disable_with => 'Setting...', :enable_with => 'Done!'} %>
  </div>
<% end %>
