require 'rails_helper'

RSpec.describe <%= controller_class_name %>, type: :controller do
  before(:each) do
    <%- if include_user_session? -%>
    activate_session(admin: true)
    <%- end -%>
  end

  describe 'index' do
    it 'should render the index' do
      get :index
      expect(response).to have_http_status :success
    end
  end

  describe 'show' do
    it 'should render the show page' do
      <%= model_variable_name %> = FactoryBot.create(:<%= model_variable_name %>)
      get :show, id: <%= model_variable_name %>.id
      expect(response).to have_http_status :success
    end

    it 'should return a 404 error' do
      get :show, id: 1
      expect(response).to have_http_status :not_found
    end
  end
  <%- if include_edit_actions? -%>
  describe 'new' do
    it 'should render the new page' do
      get :new
      expect(response).to have_http_status :success
    end
  end

  describe 'edit' do
    it 'should render the edit page' do
      <%= model_variable_name %> = FactoryBot.create(:<%= model_variable_name %>)
      get :edit, id: <%= model_variable_name %>.id
      expect(response).to have_http_status :success
    end
  end

  describe 'create' do
    it 'should create the record' do
      expect do
        post :create, <%= model_variable_name %>: FactoryBot.attributes_for(:<%= model_variable_name %>)
      end.to change(<%= model_class_name %>, :count).by(1)
    end
  end

  describe 'update' do
    it 'should update the record' do
      <%= model_variable_name %> = FactoryBot.create(:<%= model_variable_name %>)
      current_value = <%= model_variable_name %>.<%= model_string_attribute_name %>
      new_value = current_value + '-Updated'
      expect do
        patch :update, id: <%= model_variable_name %>.id, <%= model_variable_name %>: { <%= model_string_attribute_name %>: new_value }
        <%= model_variable_name %>.reload
      end.to change(<%= model_variable_name %>, :<%= model_string_attribute_name %>).to(new_value)
    end
  end

  describe 'destroy' do
    it 'should destroy the record' do
      <%= model_variable_name %> = FactoryBot.create(:<%= model_variable_name %>)
      expect do
        delete :destroy, id: <%= model_variable_name %>.id
      end.to change(<%= model_class_name %>, :count).by(-1)
    end
  end
  <%- end -%>
end
