class <%=module_name_formatted.camelize%>Controller < ApplicationController
  respond_to :html, :json
  before_action :load_<%=module_name_formatted.singularize%>, only: [:show]

  def index
    @<%=module_name_formatted%> = <%=module_name_formatted.singularize.camelize%>.ordered.paginate(page: params[:page])
    respond_with @<%=module_name_formatted%>
  end

  def show
    respond_with @<%=module_name_formatted.singularize%>
  end

  private

  def load_<%=module_name_formatted.singularize%>
    @<%=module_name_formatted.singularize%> = <%=module_name_formatted.singularize.camelize%>.find_by!(id: params[:id])
  end
end
