<%= content_for :body do %>
  <div class="error-page">
    <h1><%= @error.code %>: <%= @error.title %>!</h1>
    <p><%= @error.message %></p>
    <p>Requested URL: <%= @error.request_url %></p>
  </div>
<% end %>
<%= render :template => 'layouts/application' %>
