<!DOCTYPE html>
<html>
  <style>
    body{
      font-family: "Helvetica Neue", sans-serif;
    }
    .container{
      margin: 0 20px;
    }
    a{
      color: #0088cc;
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    }
  </style>
<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
